body {
  backgound-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fdiosesytitanesgriegos.com%2Fmitos%2Fdios-griego-mas-poderoso%2F&psig=AOvVaw2iXPvw9TLe8Rhayi0n_iGE&ust=1744206737913000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCOD7tNTKyIwDFQAAAAAdAAAAABAE");  
}

a {
  font-size: 30px;
  color: purple;
}


